---
layout: "project"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="py3 my3 bold center">Creating time saving tools for health care.</p>
            <img src="/images/telstra-health/th-styleguide-01.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-8 py3">
            <p>Working at <a href="https://www.telstrahealth.com/">Telstra Health</a> I was responsible for designing product features and documentation of user interface patterns and components for a suite of web applications.</p>
            <p>The design process involved close collaboration with business analysts, engineers and QA to deliver functional interfaces that met both business and user needs. I created prototypes and ran remote usability test sessions to validate assumptions made during the design process.</p>
            <p>Documentation of user interface patterns and components involved initiating a review process for designers to provide feedback and critique new design patterns. Patterns were documented using <a href="http://patternlab.io/" target="_blank">Patternlab</a> and shared across multiple development teams.</p>
            <p>Due to a NDA much of my work cannot yet be shared publicly.</p>
        </div>
    </div>
</div>