<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="py3 my3 bold center">Digital tools for healthcare applications.</p>
                <img src="/images/telstra-health/th-styleguide-01.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-8 py3">
            <p>My time at Telstra Health was split between designing product features and documentation of user interface patterns and components for a suite of web applications.</p>
            <p>The design process involved close collaboration with business analysts, engineers and QA to deliver functional interfaces that met both business and user needs. I created prototypes and ran remote usability test sessions to validate assumptions made during the design process.</p>
            <p>Documentation of user interface patterns and components involved initiating a review process so all designers provide feedback on the addition of new design patterns and developers could easily access components from the library.</p>
            <p class="">Due to a NDA much of my work cannot yet be shared publicly.</p>
        </div>
    </div>
</div>

<%= partial "partials/index-link" %>