<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="py3 my3 bold center">Digital tools for healthcare providers.</p>
                <img src="/images/telstra-health/th-styleguide-01.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-8 py3">
            <p class="py1">My time at Telstra Health was split between designing new product features and documentation of UI standards and patterns in a unified design system.</p>
            <p class="py1">I worked closely with the product and development teams to design and deliver product features include Document Uploads, User assignment and . I produced UI designs and wire-frames for validation and performed remote usability testing and user validation sessions.</p>
            <p class="italic h4">Due to ongoing development, much of my work with Telstra Health is under a NDA and cannot yet be shown publicly.</p>
        </div>
    </div>
</div>

<%= partial "partials/index-link" %>