---
layout: "project"
---
<style>
ul {
    padding: 0;
    margin: 1rem;
    margin-top: .25rem;
}
</style>

<div class="container pb3 mb3">
    <div class="row justify-content-around">
        <div class="col-12 center">
            <p class="py3 my3 bold h3">Resident Documents: A document management tool for aged care providers.</p>
        </div>
        <div class="col-7">
            <img src="/images/telstra-health/th-styleguide-01.jpg" class="img-fluid">
        </div>
        <div class="col-4">
            <h3>Context:</h3>
            <p> This project was completed while working at <a href="https://www.telstrahealth.com/" target="_blank">Telstra Health</a>. I was part of the ADCC team building software solutions for aged and disability care providers.</p>
            <h3>Project goals:</h3>
            <ul>
                <li>Improve usability of document upload and retrieval to decrease time on task.</li>
                <li>Remove legacy code and replace with reusable components to improve maintainability and consistency.</li>
                <li>Update visual design inline with new product branding.</li>
            </ul>
            <h3>My responsibilities:</h3>
            <ul>
                <li>User interface design.</li>
                <li>Prototype creation.</li>
                <li>Usability testing.</li>
                <li>Pattern documentation.</li>
            </ul>
        </div>
    </div>
</div>