<style>
    h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2rem;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="/images/purchase-orders/purchase-orders.png" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 project-copy">
            <h2>Purchase Orders</h2>
            <p class="text-muted"><em>Completed at Synergetic Management Systems.</em></p>

            <p>The Purchase Order Requisitions feature allows teachers and other non-administrative staff to create purchase requisitions. When submitted, notification of a pending requisition is sent to the relavant approver.</p>

            <p>The project involved refactoring legacy UI components and developing a new design direction for the application. I worked closely with subject matter experts to understand standards and best practices for displaying financial information.</p>

            <p>I initiated remote usability testing sessions which led to further enhancements and informed refinements of the design.</p>
            
            <br>
            <strong><p>My responsibilities:</p></strong>
            <ul>
                <li>Wireframes and user interface design (Sketch).</li>
                <li>UI Development (HTML, CSS).</li>
                <li>CMS Development (PHP).</li>
            </ul>
            <br>
            <a href="/videos/purchase-orders.mp4" target="_blank">Watch Video</a>

        </div>
    </div>
</div>