body {
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #444;
    margin: 0;
    @media (min-width: 992px) {
        font-size: 1.2rem;
    }
}

h1, h2, h3 {
    font-size: 1rem;
    @media (min-width: 992px) {
        font-size: 1.2rem;
    }
}

ul {
    padding-left: 1.5rem;
}

a {color: #444;}
a:hover, a:focus, a:active {
    color: lighten(#444, 30%);
    text-decoration: none;
}

// Image styles
.profile-image {
    padding: 1.3rem;
}

.image-caption {
  color: #999;
  font-size: 0.8rem;
}

.bio {
    @media (min-width: 992px) {
        padding: 0 3rem;
    }
}

.header-navigation {
    border-bottom: solid 1px #ddd;
    margin-bottom: 2rem;
    a {
    text-decoration: none;
    padding: 2.5vw 0;
    }
}

.information-section {
  padding-top: 2rem;
}

.section-request {
    margin-bottom: 6rem;
}

.work-section {
    padding-top: 2rem;
}

.project-container {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: solid 1px #eee;
}

.footer-section {
    padding: 3vw;
    text-align: center;
    border-top: solid 1px #ccc;
    margin-top: 8vw;
}


/* Utilities =============== */

.lighter {
    color: #999;
}

.ui-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-full {
  width: 100%;
  height: auto;
}

.text-center {
    text-align: center!important;
}

.gray {
  color: #777;
}

.py6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: 992px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}
.mb6 {
  padding-bottom: 6rem;
}


// Image grid
.box {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.box {
  padding: 20px;
  padding: 2vw;
}
.box a {
  opacity: 1;
}
a:hover.box  {
  opacity: 0.9;
}


// Image grid
.box-over-loop {
  background-color: #9fa7d1;
  background-color: #ffc1c1;
}

.box-next-wave {
  background-color: #ffc1c1;
  background-color: #9fa7d1;
}

.box-synergetic {
  background-color: #ffeabb;
  background-color: #ffd9aa;
}

.box-hello-medical {
  background-color: #b4ceea;
}


.border-bottom,
.border-top {
  border-color: #ddd;
}

// Easter egg
.sunny-side {
  line-height: 1rem;
}

// Bass overrides
.bold {
    font-weight: 600;
}