@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

body {
  font-family:'Work Sans', -apple-system,BlinkMacSystemFont, sans-serif;
  font-size: .96rem;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
  margin: 0;
  @media (min-width: 992px) {
    font-size: 1.2rem;
    line-height: 1.45;
  }
}

a {
  color: #1c21a4;
  transition: all 0.5s ease;
}

a:hover, a:focus, a:active {
  color: lighten(#444, 30%);
  text-decoration: none;
}

p:first-of-type {
  margin-top: 0;
}

.image-caption {
  color: #999;
  font-size: 0.8rem;
}

.intro {
  background-color: #292929;
  color: #b2b2b2;
  padding: 0 0 .5rem 0;
  margin-bottom: 2rem;
}

.intro a {
  color: #fafafa;
}

.filterContrast {
  filter: contrast(2);
}

.bio {
    @media (min-width: 992px) {
        padding: 0 3rem;
    }
}

.header-navigation {
    a {
    text-decoration: none;
    padding: 2.5vw 0;
    }
}

.information-section {
  padding-top: 2rem;
}

.section-request {
    margin-bottom: 6rem;
}

.work-section {
    padding-top: 2rem;
}

.project-container {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: solid 1px #eee;
}

.footer-section {
    padding: 3vw;
    text-align: center;
    border-top: solid 1px #ccc;
    margin-top: 8vw;
}


/* Utilities =============== */

.lighter {
    color: #999;
}

.ui-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-full {
  width: 100%;
  height: auto;
}

.text-center {
    text-align: center!important;
}

.gray {
  color: #777;
}

.py6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: 992px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}
.mb6 {
  padding-bottom: 6rem;
}


// Image grid
.box {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.box a {
  opacity: 1;
}
a:hover.box  {
  opacity: 0.6;
  cursor: pointer;
}

.box-telstra {
  background-color: #d7e3ff;
}

.box {
  background-color: #e7e9ee;
  padding: 2vw;
}

// Easter egg
.sunny-side {
  line-height: 1rem;
}

// Bass overrides
.bold {
    font-weight: 700;
}

.border-bottom,
.border-top {
  border-color: #ddd;
}
