<div class="project-container text-center">
    <h2>Hello Medical</h2>
    <p>A collaborative publishing platform connecting medical professionals.</p>
    <picture>
        <source srcset="images/hello-medical/hello-medical-xl.png" media="(min-width: 880px)">
        <source srcset="images/hello-medical/hello-medical-sm.png" media="(min-width: 400px)">
        <img src="/images/hello-medical/hello-medical-sm.png" class="img-fluid" alt="Thomas Green's design of Hello Medical">
    </picture>
</div>