<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p class="py3 my3 bold center">A collaborative publishing platform connecting medical professionals.</p>
            <img src="/images/hello-medical/hello-medical-xl.png" class="img-fluid" alt="Hello Medical screenshot">
        </div>
        <div class="col-6">
            <p>HelloMedical gives medical professionals the power to share, making healthcare more open and connected.</p>
            <p>Medical professionals use HelloMedical everyday to keep in contact with colleagues, share information and make new connections. Through the power of collaboration we are improving communication and ultimately providing better outcomes for patients.</p>
        </div>
    </div>
</div>     

<%= partial "partials/index-link" %>