<style>
    body {
        background-color: #eee;
    }
</style>
<div class="container mt3">
    <div class="row">
        <div class="col-sm-3">
            <img src="/images/thomas-green.png" class="img-fluid profile-image" alt="Thomas Green profile image">
        </div>
        <div class="col-sm-6 about-main">
            <p>Hello, I'm Thomas — an interaction and user experience designer. I'm currently living and working in Berlin.</p>
            <p>My work involves user experience, front-end development, prototyping, user research and usability testing. I enjoy designing digital products and services for clients in health, education, science and the arts.</p>
            <p>This site was built with <a href="https://middlemanapp.com/" target="_blank">Middleman</a> and is hosted on <a href=" target="_blank"">Github pages</a>. The bridge photo was taken by <a href="http://www.thenovocastrianfiles.com/2012/08/30/belinda-howden/" target="_blank">Belinda Howden</a>, the portrait by <a href="http://cargocollective.com/brookeshantifenner" target="_blank">Brooke Fenner</a>.</p>
        </div>
        <div class="col-sm-3 about-contact">
            <p><%= partial "partials/email" %>
            <br>DE: +49 151 66085855
            <br>Skype: greenthoms</p>
            <%= partial "partials/social-links" %>
        </div>
    </div>
</div>
<%= partial "partials/images/imgBridge" %>