<div class="border-top mt3">
    <div class="container p3 h4">
        <div class="row justify-content-between">
            <div class="col-1">
                <div class="h1 m0 sunny-side">☀</div>
            </div>
            <div class="col-11 right-align">
                <span class="p2">
                    <%= partial "partials/email-short" %>
                </span>
                <%= link_to 'Twitter', 'https://twitter.com/greenthoms', :class => 'p2' %>
                <%= link_to 'Instagram', 'https://instagram.com/greenthoms', :class => 'p2' %>
                <%= link_to 'Linkedin', 'https://www.linkedin.com/in/thomasgreenau', :class => 'p2' %>
            </div>
        </div>
    </div>
</div>