<div class="header-navigation">
    <div class="container">
    <div class="row">
        <div class="col flex">
            <a href="/">Thomas Green</a>
        </div>
        <div class="col flex justify-content-end">
            <a href="/#work">Work</a>
            <a href="/about" class="ml2">About</a>
        </div>
    </div>
    </div>
</div>