<div class="header-navigation">
    <div class="container">
    <div class="row">
        <div class="col flex">
            <%= link_to 'Thomas Green', '/' %>
        </div>
        <div class="col flex justify-content-end">
            <%= link_to 'Work', '/' %>
            <%= link_to 'Information', '/information/index.html', :class => 'ml3' %>
        </div>
    </div>
    </div>
</div>