<div class="header-navigation">
    <div class="container">
    <div class="row">
        <div class="col flex">
            <%= link_to 'Thomas Green', '/' %>
        </div>
        <div class="col flex justify-content-end">
            <%= link_to 'Work', '/#work' %>
            <%= link_to 'About', '/about/index.html', :class => 'ml2' %>
        </div>
    </div>
    </div>
</div>