<div class="intro">
    <%= partial "partials/header" %>
    <div class="container clearfix">
        <div class="row justify-content-between mt3 pt3">
            <div class="col-sm-7 my3 pt3">
                <p class="intro-text">User Experience and Interaction Designer based in Berlin. Currently available for a full-time role. <a href="mailto:thomasgreen@fastmail.com" class="bold">Say hello</a>.</p>
            </div>
        </div>
    </div>
</div>