<style>
    .intro {
        font-size: 2rem;
        font-weight: 500;
        font-family: Georgia;
    }
    .img-round {
        border-radius: 100%;
    }
    .bg-dark-grey {
        background-color: #fafafa;
        border-bottom: solid 1px #eee;
        padding: 2rem;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }
</style>
<div class="bg-dark-grey">
    <div class="container">
        <div class="row my3 justify-content-center">
        <div class="col-sm-2">
        <img src="/images/thomas-green.png" class="img-fluid" alt="Thomas Green profile image">
        </div>
        <div class="col-sm-9">
        <div class="intro m3">
            A user experience and interaction designer based in Berlin.
        </div>
        </div>
        </div>
    </div>
</div>