<div class="intro">
    <%= partial "partials/header" %>
    <div class="container">
        <div class="my3 pt3 ">
            <p class="pt3">User experience and interface designer based in Berlin.<br> Currently available for a full time role. <a href="mailto:thomasgreen@fastmail.com" class="bold">Say hello</a>.</p>
        </div>
    </div>
</div>