<ul class="ui-list">
    <li><a href="https://twitter.com/greenthoms" target="_blank">Twitter</a></li>
    <li><a href="https://instagram.com/greenthoms" target="_blank">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/thomasgreenau" target="_blank">Linkedin</a></li>
</ul>