<ul class="ui-list">
    <li><a href="https://twitter.com/greenthoms" target="_blank" rel="noopener">Twitter</a></li>
    <li><a href="https://instagram.com/greenthoms" target="_blank" rel="noopener">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/thomasgreenau" target="_blank" rel="noopener">Linkedin</a></li>
    <li><a href="https://dribbble.com/thomasgreen" target="_blank" rel="noopener">Dribbble</a></li>
    <li><a href=""></a></li>
</ul>