<div class="container">

<div class="row justify-content-center">
    <div class="col-12">

        <h2 class="h2 center pt3 mt3 mb0">Selected projects:</h2>

        <%# Telstra %>
        <div class="row mb3 py3 border-bottom">
            <div class="col-12 col-sm-8">
                <img src="images/telstra-health/th-styleguide-01.jpg"
                class="img-fluid"
                alt="Telstra Health thumbnail">
            </div>
            <div class="h3 col-12 col-sm-4">
                <p>Redesigned document management for more efficient health care.</p>
                <a class="btn" href="projects/telstra-health">More →</a>
            </div>
        </div>

        <%# Student enrollment %>
        <div class="row mb3 py3 border-bottom">
            <div class="col-12 col-sm-8">
                <img src="images/homepage/sms-thumb.jpg"
                class="img-fluid"
                alt="Synergetic" />
            </div>
            <div class="h3 col-12 col-sm-4 p2">
                <p>Redesigned the online enrollment experience for over 1000 schools and colleges.</p>
                <a class="btn" href="projects/synergetic">More →</a>
            </div>
        </div>

        <%# Next wave %>
        <div class="row mb3 py3 border-bottom">
            <div class="col-12 col-sm-8">
                <img src="images/homepage/nw-thumb.jpg"
                class="img-fluid align-self-center mt1"
                alt="Next Wave thumbnail">
            </div>
            <div class="h3 col-12 col-sm-4">
                <p>Designed a website and digital campaign for an arts festival.</p>
                <a class="btn" href="projects/next-wave">More →</a>
            </div>
        </div>

    </div>

</div>
</div>