<div class="container">
    <div class="row">
        <div class="col">
            <a href="projects/over-loop" class="box box-one">
                <img src="images/over-loop/over-loop-lg.svg" class="img-fluid" alt=""width="300px">
            </a>

            <a href="projects/next-wave" class="box box-two">
                <img src="images/next-wave/next-wave-lg.png" class="img-fluid" alt="" width="800px" height="200px">
            </a>
        </div>
        <div class="col">
            <a href="projects/synergetic" class="box box-three">
                <img src="images/synergetic/my-students-lg.png" class="img-fluid" alt="">
            </a>

            <a href="projects/hello-medical" class="box box-four">
                <img src="images/hello-medical/hello-medical-xl.png" class="img-fluid" alt="" >
            </a>
        </div>
    </div>
</div>