<div class="container">
    <div class="row">
        <div class="col">

            <a href="projects/synergetic" class="box box-synergetic">
                <img src="images/synergetic/my-students-lg.png" 
                     class="img-fluid" 
                     alt="Synergetic thumbnail">
            </a>
            <a href="projects/over-loop" class="box box-over-loop">
                <img src="images/over-loop/over-loop-home.svg" 
                     class="img-fluid" 
                     alt="Over Loop thumbnail" 
                     width="260px">
            </a>
         <!--    <a href="projects/tilman-robinson" class="box box-tilman">
                <img src="images/tilman/tilman-home.png" 
                     class="img-fluid" 
                     alt="Tilman thumbnail" 
                     width="420">
            </a> -->
        </div>
        <div class="col">
            <a href="projects/next-wave" class="box box-next-wave">
                <img src="images/homepage/next-wave-thomas-green.png" 
                     class="img-fluid" 
                     alt="Next Wave thumbnail" 
                     width="260">
            </a>
            <a href="projects/hello-medical" class="box box-hello-medical">
                <img src="images/hello-medical/hello-medical-xl.png" 
                     class="img-fluid" 
                     alt="Hello Medical thumbnail" >
            </a><!-- 
            <a href="projects/telstra-health" class="box box-telstra">
                <img src="images/telstra-health/th-styleguide-01.png" 
                     class="img-fluid" 
                     alt="Telstra Health thumbnail">
            </a> -->
        </div>
    </div>
</div>