<div class="project-container text-center">
    <h2>Synweb Enrol</h2>
    <p>Simplifying online enrolments for international students.</p>
    <img src="/images/application-portal/application-portal-lg.png" class="img-fluid">
</div>