<div class="project-container text-center">
    <h2>Online school enrolment</h2>
    <p>Simplifying the online enrolments process for international students.</p>
    <picture>
        <source srcset="/images/application-portal/application-portal-xl.png" media="(min-width: 800px)">
        <source srcset="/images/application-portal/application-portal-lg.png" media="(min-width: 600px)">
        <img src="/images/application-portal/application-portal-sm.png" class="img-fluid" alt="My students screenshot">
    </picture>
</div>