<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="http://lauracarthew.com/" target="_blank">
                <img src="/images/laura-carthew/laura-phone.png" class="img-fluid">
            </a>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 project-copy">
            <h2>Laura Carthew</h2>
            <p>Laura Carthew is an interdisciplinary visual artist working with video, photography and artist books. In 2013 I designed and built Laura a responsive website.</p>
            <h3>My responsibilities:</h3>
            <ul>
                <li>Wireframes and user interface design (Sketch).</li>
                <li>UI Development (HTML, CSS, jQuery).</li>
                <li>CMS Development (PHP).</li>
            </ul>
            <br>
            <a href="http://lauracarthew.com" target="_blank">Visit Website <i class="material-icons">insert_link</i></a>
        </div>
    </div>
</div>