---
layout: "project"
---

<div class="container">
    <div class="row justify-content-center center">
        <div class="col-12">
        <p class="py3 mt3 h3 bold">A mobile audio app for mixing and looping. Collaboration with <a href="https://kavsingh.com/" target="_blank" rel="noopener">Kav Singh</a>.</p>
            <img src="/images/over-loop/over-loop-home.svg" class="img-fluid" alt="Over Loop">
        </div>
    </div>

    <div class="row justify-content-center my3">
        <div class="col-8">
            <img src="/images/over-loop/over-loop-sketch.jpg" class="img-fluid filterContrast" alt="Over Loop sketch">
        </div>
    </div>
</div>
