<div class="project-container text-center">
    <h2>OverLoop</h2>
    <p>A mobile audio app for mixing and looping. <br>Collaboration with <a href="https://kavsingh.com/" target="_blank" rel="noopener">Kav Singh</a>.</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <picture>
                <source srcset="images/over-loop/over-loop-lg.png" media="(min-width: 600px)">
                    <source srcset="images/over-loop/over-loop.png" media="(min-width: 480px)">
                <img src="/images/over-loop/over-loop.png" class="img-fluid" alt="Thomas on bridge">
            </picture>
        </div>
    </div>
</div>