---
layout: "project"
---

<div class="container">

    <!-- Project intro text -->
    <div class="row justify-content-center">
        <div class="col-12 center">
            <p class="py3 my3 bold">A website and visual identity for a contemporary arts festival.</p>
        </div>
    </div>

    <!-- Project intro image -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            <img src="/images/next-wave/next-wave-lg.png" class="img-fluid">
        </div>
    </div>

    <!-- Project text 01 -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 py3 h3">
            <p>Next Wave is a biennial festival and artist development organisation, presenting genre-busting new work by the next wave of Australian artists.</p>
            <p>The festival ran throughout May, with its theme for 2014 titled ‘A New Grand Narrative.’ I worked alongside creatives Andrew Murray of Gatsby and David Pesavento to build design and build an festival website, program and social campaign.</p>
            <p>Deliverables including a publication, pocket guide, website, app design, signage and social media campaign. The 2014 festival posted a 65 % rise in paid attendance and an increase of 50% in ticket sales revenue.</p>
        </div>
    </div>
    
    <!-- Mobile 01 -->
    <div class="row justify-content-center py3">
        <div class="col-12 col-sm-10">
            <img src="/images/next-wave/next-wave-mobile-01.jpg" class="img-fluid">
        </div>
    </div>

    <div class="row mb3">
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-01.jpg" class="img-fluid" >
        </div>
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-02.jpg" class="img-fluid" >
        </div>
    </div>

    <img src="/images/next-wave/next-wave-event-01.jpg" class="img-fluid mb3">

    <div class="row mb3">
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-03.jpg" class="img-fluid" >
        </div>
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-04.jpg" class="img-fluid" >
        </div>
    </div>

</div>