---
layout: "project"
---

<div class="container">

    <!-- Project intro text -->
    <div class="row justify-content-center">
        <div class="col-12 center">
            <p class="py3 mt3 h3 bold">A website and visual identity for a contemporary arts festival.</p>
        </div>
    </div>

    <!-- Project intro image -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            <img src="/images/next-wave/next-wave-lg.png" class="img-fluid">
            <p class="center"><a href="http://2014.nextwave.org.au/" target="_blank">Visit the website</a></p>
        </div>
    </div>

    <!-- Project text 01 -->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6 my3 py3">
            <p>Next Wave is a biennial festival of the arts. I worked alongside creatives Andrew Murray of Gatsby and David Pesavento to build design.</p>
            <p>The 2014 festival posted a 65% rise in paid attendance and an increase of 50% in ticket sales revenue.</p>
        </div>
    </div>

    <!-- Mobile 01 -->
    <div class="row justify-content-center my3 py3">
        <div class="col-12 col-sm-10">
            <img src="/images/next-wave/next-wave-mobile-01.jpg" class="img-fluid">
        </div>
    </div>

    <!-- A-Z Navigation -->
    <div class="row justify-content-center my3 py3">
        <div class="col-12 col-sm-8">
            <video src="/videos/az-menu.mp4" autoplay loop poster="az-menu.jpg" class="img-fluid">
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="/videos/az-menu.mp4">download it</a>
            and watch it with your favorite video player!
            </video>
        </div>
        <div class="col-12 col-sm-3">
            <p>Research showed customers often have a particular artist in mind when visiting the website.</p>
            <p>Usability testing showed the <br>"A-Z navigation" was intuitive and decreased the time it took users to find their favourite artist and book tickets.</p>
        </div>
    </div>

    <!-- Calendar -->
    <div class="row justify-content-center my3 py3">
        <div class="col-12 col-sm-8">
            <video src="/videos/calendar.mp4" autoplay loop poster="calendar.jpg" class="img-fluid">
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="/videos/az-menu.mp4">download it</a>
            and watch it with your favorite video player!
            </video>
        </div>
        <div class="col-12 col-sm-3">
            <p>Another key scenario was festival goers attending the festival for a single day only.</p>
            <p>The design situated calendar a primary navigation item and directed the user to events page filtered by the selected the day.</p>
        </div>
    </div>

    <div class="row my3 py3">
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-01.jpg" class="img-fluid" >
        </div>
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-02.jpg" class="img-fluid" >
        </div>
    </div>

    <img src="/images/next-wave/next-wave-event-01.jpg" class="img-fluid my3 py3">

    <div class="row my3 py3">
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-03.jpg" class="img-fluid" >
        </div>
        <div class="col-12 col-sm-6">
            <img src="/images/next-wave/next-wave-brand-04.jpg" class="img-fluid" >
        </div>
    </div>

</div>