<div class="container">
    <div class="row justify-content-center center">
        <div class="col-12">
            <p class="py3 my3 bold">A visual identity and website for Tilman Robison. View online at <a href="http://www.tilmanrobinson.com" target="_blank" rel="noopener">tilmanrobinson.com</a></p>
            <picture>
                <img src="/images/tilman/tilman-home.png" class="img-fluid" alt="Tilman Robison hompage">
            </picture>
        </div>
    </div>
</div>