<div class="project-container text-center">
    <h2>My Students </h2>
    <p>A customisable dashboard giving teachers access to student information.</p>
    <img src="/images/student-profiles/student-profiles-1.png" class="img-fluid">
</div>