<div class="project-container text-center">
    <h2>My Students </h2>
    <p>A customisable dashboard giving teachers access to student information.</p>
    <picture>
        <source srcset="images/my-students/my-students-xl.png" media="(min-width: 880px)">
        <source srcset="images/my-students/my-students-lg.png" media="(min-width: 600px)">
        <img src="/images/my-students/my-students.png" class="img-fluid" alt="Thomas on bridge">
    </picture>
</div>