---
layout: "project"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 center mb3">

            <!-- Intro text -->
            <p class="pt3 m3 pb3 h3 bold">Redesigned the online enrollment experience for over 1000 schools and colleges.</p>

            <!-- Intro Image -->
            <video src="/videos/applicationPortal.mp4" autoplay poster="/images/synergetic/application-portal-lg.png" class="img-fluid">
            Sorry, your browser doesn't support embedded videos,
            but don't worry, you can <a href="videos/applicationPortal.mp4">download it</a>
            and watch it with your favorite video player!
            </video>

            <!-- Caption -->
            <p class="caption m1">Online enrollments for local and international students.</p>
        </div>

        <div class="col-12 col-sm-8 col-lg-6 my3 py3">
            <p>As the sole UX designer at Synergetic Management Systems, I was tasked with the challenge of redesigning a legacy interface and implementing a new design direction for the industry leading school management software.</p>
            <p>Working alongside stakeholders, business analysts I designed new product features including a dashboard for teachers, an online enrollment hub for internation students and a mobile first booking interface for carer teacher interviews.</p>
            <p>I initiated usability test sessions with teachers and administration staff both remotely and onsite. I also created a living style guide and collaborated with full-stack developers on design implementation and front-end development.</p>
        </div>
        <div class="col-12 col-sm-10 center">
            <img src="/images/synergetic/student-details-portal.jpg" class="img-fluid py3 my3" alt="">
        </div>
    </div> <!-- /.Row -->
</div>

<div class="row justify-content-center my3">
    <div class="col-12 col-sm-9">
        <img src="/images/synergetic/my-students.jpg" class="img-fluid my3" alt="">
    </div>
</div>
